<h1>PROGRESS OF TODOS</h1>

<h2>Current Todos</h2>
  <% @Session.each do |t| %>
    <p>
        <strong><%= t.name %> </strong>
        <small><%= link_to "Mark as Done", session_path(t), :method => :put %></small>
    </p>

<h2>Completed</h2>
    <p>
        <%= t.name %>
        <small><%= link_to "Remove", t, :confirm => "okay to delete from list?", :method => :delete %></small>
    </p>


<p>
  <%= link_to "Add a todo to the current list", new_session_path %>
</p>
<% end %>
